<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">         
      <a class="navbar-brand" href="/">Nodejs + Express + Ejs + MongoDB + Bootstrap 示例</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <% if (locals.username) { %> 
          <li>
              <a href="/formidable" id='headerimg'>
                <img src='<%= headerurl%>'/> 
              </a>
              <a class='username' href="#">  
              <!-- 这里的username是指session.username -->      
                <%= username %>          
          </a></li>
          <li><a href="/logout">安全退出</a></li>  
          <li><a href="/repass">修改密码</a></li> 
        <% } %>           
      </ul>
    </div>              
  </div>
</div>
