<div class="note_form_wrap">
	<form  action="addnote" class="note_form" role="form" method="post">
		<h5>笔记</h5>
		<input ref="title" type="text" class="your_title" placeholder="你的笔记的标题" name='title'/>
		<textarea ref="description" class="your_description" placeholder="笔记的内容" name='content'></textarea>
		<input type="button" value="取消" class="cancel_btn" />
		<input type="submit" value="确认" class="confirm_btn" />
	</form>
</div>